In [97]:
import graphene
from pprint import pprint

In [99]:
class TiketPenerbangan(graphene.ObjectType):
    kodePenerbangan = graphene.ID()
    namaMaskapai = graphene.String()
    harga = graphene.Int()

class Query(graphene.ObjectType):
    tiket = graphene.Field(TiketPenerbangan)
    tikets = graphene.List(TiketPenerbangan)

    def resolve_tiket(self,info):
        return TiketPenerbangan(kodePenerbangan='1', namaMaskapai='Air Asia', harga=2000000)
    
    def resolve_tikets(self,info):
        return [
            TiketPenerbangan(kodePenerbangan='1', namaMaskapai='Air Asia', harga=2000000),
            TiketPenerbangan(kodePenerbangan='2', namaMaskapai='Lion Air', harga=3000000),
            TiketPenerbangan(kodePenerbangan='3', namaMaskapai='Batik Air', harga=4000000)
        ]

schema = graphene.Schema(query=Query)

## Test Show 1 Flight

In [102]:
q = """
{
    tiket {
        kodePenerbangan
        namaMaskapai
    }
}
"""

result = schema.execute(q)
if result.errors:
    print("Errors occurred:")
    for error in result.errors:
        print(error)
else:
    print("Result data:")
    pprint(result.data)

Result data:
{'tiket': {'kodePenerbangan': '1', 'namaMaskapai': 'Air Asia'}}

## Test Show All Flights

In [104]:
q = """
{
    tikets {
        namaMaskapai
        harga
    }
}
"""

result = schema.execute(q)
if result.errors:
    print("Errors occurred:")
    for error in result.errors:
        print(error)
else:
    print("Result data:")
    pprint(result.data)

Result data:
{'tikets': [{'harga': 2000000, 'namaMaskapai': 'Air Asia'},
            {'harga': 3000000, 'namaMaskapai': 'Lion Air'},
            {'harga': 4000000, 'namaMaskapai': 'Batik Air'}]}

## Update Data

In [66]:
data = [
    {'kodePenerbangan': '1', 'namaMaskapai': 'Indonesia Air', 'harga':2500000},
    {'kodePenerbangan': '2', 'namaMaskapai': 'Australia Air', 'harga':2600000},
    {'kodePenerbangan': '3', 'namaMaskapai': 'Netherland Air', 'harga':2700000},
    {'kodePenerbangan': '4', 'namaMaskapai': 'America Air', 'harga':2800000},
    {'kodePenerbangan': '5', 'namaMaskapai': 'Missisipi Air', 'harga':2900000},
    {'kodePenerbangan': '6', 'namaMaskapai': 'Japan Air', 'harga':3000000}
]

In [68]:
data

[{'kodePenerbangan': '1', 'namaMaskapai': 'Indonesia Air', 'harga': 2500000},
 {'kodePenerbangan': '2', 'namaMaskapai': 'Australia Air', 'harga': 2600000},
 {'kodePenerbangan': '3', 'namaMaskapai': 'Netherland Air', 'harga': 2700000},
 {'kodePenerbangan': '4', 'namaMaskapai': 'America Air', 'harga': 2800000},
 {'kodePenerbangan': '5', 'namaMaskapai': 'Missisipi Air', 'harga': 2900000},
 {'kodePenerbangan': '6', 'namaMaskapai': 'Japan Air', 'harga': 3000000}]

In [105]:
class TiketPenerbangan(graphene.ObjectType):
    kodePenerbangan = graphene.ID()
    namaMaskapai = graphene.String()
    harga = graphene.Int()

class Query(graphene.ObjectType):
    tiket = graphene.Field(TiketPenerbangan)
    tikets = graphene.List(TiketPenerbangan)

    def resolve_tiket(self,info):
        return TiketPenerbangan(kodePenerbangan=data[1]['kodePenerbangan'], namaMaskapai=data[1]['namaMaskapai'], harga=data[1]['harga'])
    
    def resolve_tikets(self,info):
        return [TiketPenerbangan(kodePenerbangan=i['kodePenerbangan'], namaMaskapai=i['namaMaskapai'], harga=i['harga']) for i in data
        ]

schema = graphene.Schema(query=Query)

In [106]:
q = """
{
    tiket {
        kodePenerbangan
        namaMaskapai        
        harga
    }
}
"""

result = schema.execute(q)
if result.errors:
    print("Errors occurred:")
    for error in result.errors:
        print(error)
else:
    print("Result data:")
    pprint(result.data)

Result data:
{'tiket': {'harga': 2600000,
           'kodePenerbangan': '2',
           'namaMaskapai': 'Australia Air'}}

In [107]:
q = """
{
    tikets {
        kodePenerbangan  
        harga
    }
}
"""

result = schema.execute(q)
if result.errors:
    print("Errors occurred:")
    for error in result.errors:
        print(error)
else:
    print("Result data:")
    pprint(result.data)

Result data:
{'tikets': [{'harga': 2500000, 'kodePenerbangan': '1'},
            {'harga': 2600000, 'kodePenerbangan': '2'},
            {'harga': 2700000, 'kodePenerbangan': '3'},
            {'harga': 2800000, 'kodePenerbangan': '4'},
            {'harga': 2900000, 'kodePenerbangan': '5'},
            {'harga': 3000000, 'kodePenerbangan': '6'}]}